
<div class="StudiesContainer">
    <div class="second" id="second"></div>
    
    <h4>● Other projects</h4>
            {% for post in site.categories['Design Challenge']  limit:6 %}

 <div class="CarouselModule">
    <a href="{{site.baseurl}}{{ post.url }}">
        <div class="CarouselComponent">
            <div class="square"> <img src="{{site.baseurl}}{{ post.thumb }}" class="image"></div>
            <div class="CarouselInfo">
                <h1>{{post.title}}</h1>
                <h4>
                    <div>
                        {% for role in post.role %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </div>
                    <div>{{post.category}}</div>
                </h4>
            </div>

        </div>
    </a>



    <a href="{{site.baseurl}}{{ post.url }}">
        <div class="CarouselComponent">
            <div class="square"> <img src="{{site.baseurl}}{{ post.thumb }}" class="image"></div>
            <div class="CarouselInfo">
                <h1>{{post.title}}</h1>
                <h4>
                    <div>
                        {% for role in post.role %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </div>
                    <div>{{post.category}}</div>
                </h4>
            </div>

        </div>
    </a>



    <a href="{{site.baseurl}}{{ post.url }}">
        <div class="CarouselComponent">
            <div class="square"> <img src="{{site.baseurl}}{{ post.thumb }}" class="image"></div>
            <div class="CarouselInfo">
                <h1>{{post.title}}</h1>
                <h4>
                    <div>
                        {% for role in post.role %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </div>
                    <div>{{post.category}}</div>
                </h4>
            </div>

        </div>
    </a>








</div>



    {% endfor %}
</div>