
<div class="StudiesContainer">
    <div class="second" id="second"></div>
    
    <h4>● Design Challenges</h4>
            {% for post in site.categories['Design Challenge']  limit:3 %}
    <a href="{{site.baseurl}}{{ post.url }}">
        <div class="StudiesModule">
            <div class="square"> <img src="{{site.baseurl}}{{ post.thumb }}" class="image"></div>
            <div class="StudiesInfo">
                <h1>{{post.title}}</h1>
                <h4>
                    <div>
                        {% for role in post.role %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </div>
                    <div>{{post.category}}</div>
                </h4>
            </div>
            <div>      <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
                <style type="text/css">
                
                </style>
                <polyline class="st0" points="116.7,116.7 1083.3,116.7 1083.3,1083.3 "/>
                <line class="st0" x1="1083.3" y1="116.7" x2="116.7" y2="1083.3"/>
                </svg></div>
        </div>
    </a>
    {% endfor %}
</div>