<div class="studiesMenu">
    <div class="StudiesContainer">
        <div class="mobileNav">
            <h2>Hello</h2>
            <h1>
                <a class="first" href="{{ site.url }}{{ site.baseurl }}/#second"
                    onclick="smoothScroll(document.getElementById('second')); closeNav()">Studies</a>
            </h1>
            <h1>
                <a href="{{ site.url }}{{ site.baseurl }}/about">About</a>
            </h1>
               <h1>
            <a href="{%include resume.html %}" target="_blank">Resume</a>
       </h1>
        </div>

        <h2>Reader Settings</h2>

        <h1>
            <a id="theme-toggle" onclick="modeSwitcher()"></a>
        </h1>
        <h4>(Changes body color on study articles)</h4>

        <h2>Studies</h2>
        {% for post in site.posts %}
            {% unless post.category == "Design Challenge"%}
                <a href="{{site.baseurl}}{{ post.url }}">
                    <div class="StudiesModuleTwo">
                        <div class="square">
                            <img src="{{site.baseurl}}{{ post.thumb }}" class="image"></div>
                        <div class="StudiesInfo">
                            <h1>{{post.title}}</h1>
                            <h4>
                                <div>{{post.role}}</div>
                                <div>{{post.category}}</div>
                            </h4>
                        </div>

                    </div>
                </a>
            {% endunless %}
        {% endfor %}

        <h2>Design Challenges</h2>
        {% for post in site.categories['Design Challenge'] limit : 3 %}
            <a href="{{site.baseurl}}{{ post.url }}">
                <div class="StudiesModuleTwo">
                    <div class="square">
                        <img src="{{site.baseurl}}{{ post.thumb }}" class="image"></div>
                    <div class="StudiesInfo">
                        <h1>{{post.title}}</h1>
                        <h4>
                            <div>{{post.role}}</div>
                            <div>{{post.category}}</div>
                        </h4>
                    </div>

                </div>
            </a>

        {% endfor %}

    </div>

</div>

