.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: $blockFive;
    padding: 0 $blockFour 0 $blockFour;
    h2 {
        padding-top: $blockFour;
        margin-bottom: $blockFour;
    }
}

a:visited,
a:link {
    text-decoration: none;
}


@media only screen and (max-width: 728px) {

    .aboutContainer {
     
        padding: 0 $blockTwo 0 $blockTwo;
        display: grid;
        grid-template-columns: 1fr;
}
}