.aboutContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    padding: 0 $blockFour 0 $blockFour;
    margin-top: $blockTwo;

touch-action: none;


 
 
    h2 {
        margin-top: $blockThree;
    }

    a {
        color: $backgroundColor;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }
}

.aboutText {
    filter: invert(1);
    mix-blend-mode: difference;
    color: rgb(0, 0, 0);
    user-select: none;


}

.aboutImage {

    position: fixed;
    width: 400px;
    height: 600px;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -300px;  /* Negative half of height. */
    margin-left: -200px;  /* Negative half of width. */


    z-index: 1;

    touch-action: none;
    user-select: none;

    img {
        // user-select: none;
        width: 100%;
        border-radius: .25rem;
        cursor: grab;
        scale: 70%;


    }

    img:hover {
        scale: .75;
    }

    img:active {
        scale: .77;
        opacity: .8;
        cursor: grabbing;
    }
}




  






@media only screen and (max-width: $media-md) {
    .aboutImage {
        padding-left: 0;
    }

    .aboutContainer {
        padding: 0 $blockThree 0 $blockThree;
        grid-template-columns: 1fr;

        h1 {
            margin-top: $blockThree;
        }
    }
}


@media only screen and (max-width: $media-sm) {
    .aboutImage {
        padding-left: 0;
    }

    .aboutContainer {
        padding: 0 $blockTwo 0 $blockTwo;
        grid-template-columns: 1fr;

        h1 {
            margin-top: $blockThree;
        }
    }
}