.aboutContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 $blockFour 0 $blockFour;

    h2 {
        padding-top: $blockFour;
        margin-bottom: $blockFour;
    }
    a {
        color: rgb(224, 146, 0);
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
}

.aboutImage {
    padding-left: $blockFive;
    img {
        width: 100%;
    }
}



@media only screen and (max-width: 728px) {
    .aboutImage {
        padding-left: 0;
    }

    .aboutContainer {
        padding: 0 $blockTwo 0 $blockTwo;
        grid-template-columns: 1fr;
        h1 {
            margin-top: $blockThree;
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .aboutImage {
        padding-left: 0;
    }
    .aboutContainer {
        padding: 0 $blockThree 0 $blockThree;
        grid-template-columns: 1fr;
        h1 {
            margin-top: $blockThree;
        }
    }
}
