footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: $blockFour;
    margin-top: $blockFour;
}

.FooterLinks {
    text-align: right;
    font-size: 0.9rem;
}

@media only screen and (max-width: 728px) {
    footer {
        padding: $blockTwo;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    footer {
        padding: $blockThree;
    }
}
