footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: $blockFour;
    margin-top: $blockFour;
}






.FooterLinks {
    text-align: right;
    font-size: 0.9rem;
    a {
        color: inherit;
    }
}



.FooterLinks {
    a {
        display: inline;
        position: relative;
        overflow: hidden;
    }
    a:after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        width: 0;
        bottom: -3px;
        border-style: solid;
        border-width: 0 0  1px 0;
        // background: linear-gradient(90deg, rgba(255,0,243,1) 0%, rgba(121,9,118,1) 50%, rgba(0,212,255,1) 100%);
        height: 1px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    a:hover:after,
    a:focus:after,
    a:active:after {
        left: 0;
        right: auto;
        width: 100%;
    }
}






@media only screen and (max-width: 728px) {
    footer {
        padding: $blockTwo;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    footer {
        padding: $blockThree;
    }
}
