// *{
//     border-style: solid;

// }

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    padding-top: 160px;
}

header {
    padding: $blockFour;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation: 1s ease-out 0s 1 slideInFromTop;
    line-height: 0.8;
    background-color: $backgroundColor;
    color: $bodyColor;

    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    left: 0px;
    right: 0px;
    z-index: 1;

    a {
        color: inherit;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
}

.nav-up {
    top: -160px;
}

.title {
    font-weight: bold;
    line-height: 0.8rem;
    display: flex;
    align-self: center;
}

.menu {
    margin-left: auto;
    margin-right: 0;
    svg {
        width: 20px;
        cursor: pointer;
        fill: $bodyColor;
    }
    svg:hover {
        transform: rotate(135deg);
        transition-duration: 0.3s;
    }
}

// HEADER2

headerTwo {
    padding: $blockFour;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    line-height: 0.8;
    background-color: $backgroundColor;
    color: $bodyColor;

    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    left: 0px;
    right: 0px;
    z-index: 1;

    a {
        color: inherit;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
}

// MOBILENAV
.overlay::-webkit-scrollbar {
    display: none;
  }
.overlay {

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  

    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $olive;
    // background-color: rgb(247, 245, 238);
    color: $dropdowntext;
    // background: linear-gradient(180deg, rgb(234, 91, 247), rgb(108, 255, 211));
    // color: yellow;
    // text-shadow: 0px 0px 8px rgb(102, 102, 102);
    overflow-x: hidden;
    transition: 0.3s;


    ul {

        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;

    }
}

.overlay-content {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    line-height: 0.8;
    padding: $blockFour;
    left: 0;
    right: 0;
    a {
        color: $dropdowntext;

    }
}

.closebtn {
    margin-left: auto;
    margin-right: 0;
    svg {
        width: 20px;

        transform: rotate(45deg);
    }
    circle {
        fill: $dropdowntext;
    }
}

// SCREENS
@media only screen and (max-width: 728px) {
    body {
        padding-top: 120px;
    }
    header,
    headerTwo {
        padding: $blockTwo;
        grid-template-columns: 1fr 1fr;
    }
    .nav {
        display: none;
    }

    .overlay-content {
        grid-template-columns: 1fr 1fr;
        padding: $blockTwo;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    header,
    headerTwo {
        padding: $blockThree;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .overlay-content {
        grid-template-columns: 1fr 1fr 1fr;
        padding: $blockThree;
        left: 0;
        right: 0;
    }
}
