.IndexContainer {
    height: 100vh;
    margin-bottom: -160px;
}

.IndexIntro {
    position: absolute;
    bottom: $blockFour;
    padding: 0 $blockFour 0 $blockFour;
    left: 0;
    right: 0;

    svg {
        width: 30px;
        .st0 {
            fill: none;
            stroke: $bodyColor;
            stroke-width: 10rem;
            stroke-miterlimit: 100;
        }
    }
    a {
        color: inherit;
        display: inline;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    a:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        bottom: 0px;
        // background: linear-gradient(90deg, rgba(255,0,243,1) 0%, rgba(121,9,118,1) 50%, rgba(0,212,255,1) 100%);
        background-color: $bodyColor;
        height: 4px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        border-radius: 25px;
    }
    a:hover:after,
    a:focus:after,
    a:active:after {
        right: 0;
        left: auto;
        width: 0%;
    }

    a:hover {
        svg {
            transform: rotate(45deg);
            transition-duration: 0.1s;
        }
    }
}

.ExploreStudies {
    margin-top: $blockFour;
        // margin-top: $blockTwo;
    // display: inline-flex;
    // align-self: center;
    cursor: pointer;
    // float: center;
text-align: center;
opacity: .2;
transition-duration: 0.3s;
transition-timing-function: ease-out;

}

.ExploreStudies:hover {

        opacity: 1;

}

@media only screen and (max-width: 728px) {
    .IndexIntro {
        margin-top: $blockSix;
        padding: 0 $blockTwo 0 $blockTwo;
        bottom: $blockTwo;
        a {
            text-decoration: underline !important;
        }
        a:hover {
            text-decoration: none !important;
        }
        a:after {
            display: none;
        }
    }

    .ExploreStudies {
        margin-top: $blockThree;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .IndexIntro {
        margin-top: $blockSix;
        padding: 0 $blockThree 0 $blockThree;
        bottom: $blockThree;
        a {
            text-decoration: underline !important;
        }
        a:hover {
            text-decoration: none !important;
        }
        a:after {
            display: none;
        }
    }

    .ExploreStudies {
        margin-top: $blockThree;
    }
}

@media screen and (min-width: 2400px) {
    .IndexIntro {
        width: 65%;
        margin: auto;
    }
    body {
        margin: auto;
        width: 70%;
    }
}
