// Palette
$creme: rgb(247, 245, 238);
$black: #181818;
$olive: rgb(87, 105, 88);
$highlight: rgba(252, 153, 255, 0.5);

$backgroundColor: var(--background-color);
$bodyColor: var(--light-text-color);
$borderTertiary: var(--border-tertiary);
$borderTertiaryInverse: var(--border-tertiary-inverse);
$blackOpacity10: var(--black-opacity-10);
$blackOpacity30: var(--black-opacity-30);

$dropdowntext: #181818;
// $dropdowntext: rgb(247, 245, 238);
// $dropdowntext:  rgb(80, 119, 82);
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$blockOne: 8px;
$blockTwo: 16px;
$blockThree: 32px;
$blockFour: 64px;
$blockFive: 128px;
$blockSix: 256px;
$blockSeven: 512px;

$symbol: "– ";

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $highlight; /* Gecko Browsers */
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  transition: background-color 0.3s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;

}

h1 {
  font-family: "NeueMachina-Regular";
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 115%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  // font-size: 1.2rem;
  // text-transform: uppercase;
  // font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  opacity: 0.55;
}

h4 {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  font-size: .8rem;
  line-height: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 200%;
  font-weight: normal;
}

li {
  font-size: 1rem;
  line-height: 200%;
}

@media only screen and (max-width: 728px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

html,
html[data-theme="light"] {
  --background-color: rgb(219, 219, 219);
  --light-text-color: #181818;
  --link-color: rgb(0, 112, 201);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
  --border-tertiary: rgba(24,24,24, 0.3);
  --border-tertiary-inverse: rgba(247, 245, 238, 0.3);
  --black-opacity-10: #18181810;
  --black-opacity-30: #18181830;

}

html[data-theme="dark"] {
  --background-color: #181818;
  --light-text-color: rgb(247, 245, 238);
  --link-color: rgb(100, 210, 255);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(229, 229, 234);
  --border-tertiary: rgba(247, 245, 238, 0.3);
  --border-tertiary-inverse: rgba(24,24,24, 0.3);
  --black-opacity-10: #ffffff10;
  --black-opacity-30: #ffffff30;
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="dark"] {
    --background-color: #181818;
    --light-text-color: rgb(247, 245, 238);
    --link-color: rgb(100, 210, 255);
    --main-background-color: rgb(28, 28, 30);
    --main-text-color: rgb(229, 229, 234);
    --border-tertiary: rgba(247, 245, 238, 0.3);
    --border-tertiary-inverse: rgba(24,24,24, 0.3);
    --black-opacity-10: #ffffff10;
    --black-opacity-30: #ffffff30;
  
  }

  html[data-theme="light"] {
    --background-color: rgb(219, 219, 219);
    --light-text-color: #181818;
    --link-color: rgb(0, 112, 201);
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
    --border-tertiary: rgba(24,24,24, 0.3);
    --border-tertiary-inverse: rgba(247, 245, 238, 0.3);
    --black-opacity-10: #18181810;
    --black-opacity-30: #18181830;
  }
}

button {
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 0px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  // color: $bodyColor;
  color: $bodyColor;
  border-color: $borderTertiary;
}

button:hover {
  background-color: #80808035;
  border-color: $bodyColor;
  transition-duration: 0.3s;
}
