// * {
//     border-style: solid;
//     border-width: 1px;
// }

.studyIntro {
  margin-top: $blockSix;
}

.postTitle {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 $blockFour 0 $blockFour;
  bottom: $blockFour;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $borderTertiary;
  padding-bottom: $blockThree;
  h4 {
    padding-top: $blockTwo;
    bottom: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    font-size: 0.8rem;
  }

  li:nth-child(n + 2):before {
    content: $symbol;
  }
}

.postDate {
  text-align: right;
  position: absolute;
  bottom: $blockThree;
  right: 0;
}

.contentBody {
  margin: auto;
  text-align: left;
  max-width: 960px;
  padding: 0 $blockFour 0 $blockFour;
p {
  margin: 0 0 0 0;
}
  a {
    color: rgb(224, 146, 0);
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  h2 {
    margin-top: $blockFour;
  }
  ul:not(:first-child) {
    list-style-position: outside;
    line-height: 1.5;
    display: initial;
    justify-content: none;
    list-style-type: initial;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .sideInfo {
    text-align: left;
    z-index: 0;
    width: 10%;
    font-size: 0.8rem;
    font-weight: normal;
    position: absolute;
    left: $blockFour;
    line-height: 1.5;
    justify-content: none;
    list-style-type: none;
    margin-bottom: 0;
    display: none;
    opacity: 0;
    li {
      list-style-type: none;
      margin: 0 0 8px 0;
      display: inline-block;
    }

    li:nth-child(n + 5):before {
      content: $symbol;
    }
    a {
      color: inherit;
    }
    h4 {
      opacity: 0.5;
    }
    p, li {
      margin-bottom: $blockTwo;
    }
  }

  .sideInfo.fixed {
    position: fixed;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
  }

  li {
    margin-left: $blockThree;
  }
  img {
    width: 100%;
    padding-top: $blockThree;
  }
  em {
    padding-bottom: $blockThree;
  }
  img + em {
    display: table;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
}

.studyImage {
  width: 100%;
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 728px) {
  .studyIntro {
    margin-top: $blockFive;
  }

  .postTitle {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 $blockTwo 0 $blockTwo;
    bottom: $blockThree;
    h3{
      margin: 0;
    }
  }

  .postDate {
    text-align: left;
    margin-top: $blockThree;
    position: relative;
    right: 0;
    bottom: 0;
  }

  .contentBody {
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    width: initial;
    padding: $blockTwo;
    h2 {
      margin-top: $blockThree;
      margin-bottom: $blockThree;
    }
    h3 {
      margin-bottom: $blockTwo;
    }
  }

  .sideInfo {
    display: none;
    opacity: 0;
    z-index: -5;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .postTitle {
    margin: 0 $blockThree 0 $blockThree;
    bottom: $blockThree;
  }

  .contentBody {
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    width: initial;
    padding: $blockThree;

    h2 {
      position: relative;
      right: 0;
      left: 0;
      text-align: left;
      padding-right: 0;
      width: 100%;
    }
    h2:not(:first-child) {
      margin-top: $blockFour;
    }

    h2,
    h4,
    h2:nth-child(1) {
      padding-top: 0;
    }
    img {
      margin-top: 0;
    }
  }
  .sideInfo {
    display: none;
    opacity: 0;
    z-index: -5;
  }
}

@media screen and (min-width: 2400px) {
  .contentBody {
    // margin: auto;
    margin-top: $blockFive;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 960px;
    padding: 0;

    h2:not(:first-child) {
      // margin-top: 48px !important;
      margin-top: $blockFour;
    }

    h3 {
      // margin-bottom: -$blockThree;
      margin-top: $blockThree;
    }
    ul:not(:first-child) {
      list-style-position: outside;
      line-height: 1.5;
      display: initial;
      justify-content: none;
      list-style-type: initial;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
    .sideInfo {
      display: initial;
      opacity: 1;

      li {
        line-height: 1.5;
        list-style-type: none;
        padding: 0;
      }
      a {
        color: inherit;
      }
    }
  }
}

.infoModule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: $blockThree;
button {
  margin-top: 12px;
}
  li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
  }

  li:nth-child(n + 3):before {
    content: $symbol;
  }

  h4 {
    opacity: 0.55;
  }
  > div {
    border-bottom: solid 1px  $borderTertiary;
    padding: 0 $blockThree $blockThree 0;
  }
  > div:nth-child(even) {
    padding-left: $blockThree;
    border-left: solid 1px $borderTertiary;
  }
  > div:nth-child(3),
  div:nth-child(4) {
    padding-top: $blockThree;
    border-bottom: solid 5px $borderTertiary;
  }
}

@media only screen and (max-width: 728px) {
  .infoModule {
    grid-template-columns: 1fr;
  
  > div {
    border-bottom: solid 1px  $borderTertiary;
    padding: 24px 0 24px 0;
  }
  > div:nth-child(even) {
    padding-left: 0;
    border-left: none;
  }
  > div:nth-child(3),
  div:nth-child(4) {
    padding-top: 24px;
    border-bottom: solid 1px  $borderTertiary;
  }
  > div:nth-child(1){
    padding-top: 0;
  }
  >div:nth-child(4){
    border-bottom: solid 5px  $borderTertiary;
  }
}
}
