// * {
//     border-style: solid;
//     border-width: 1px;
// }

.studyIntro {
    margin-top: $blockSix;
}

.postTitle {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0 $blockFour 0 $blockFour;
    bottom: $blockFour;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: $blockThree;

    h4 {
        padding-top: $blockTwo;
        bottom: 0;
    }
}

.postDate {
    text-align: right;
    position: absolute;
    bottom: $blockThree;

    right: 0;
}

.contentBody {
    margin: auto;
    // margin-right: $blockFour;
    text-align: left;
    width: 650px;
    padding: 0 $blockFour 0 $blockFour;
    p{
        line-height: 180%;
        margin-top: $blockThree;


    }
    a {
        color: rgb(224, 146, 0);
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    h2:not(:first-child) {
        margin-top: $blockFour;
    }
    h3 {
        margin-top: $blockThree;
    }
    ul:not(:first-child) {
        list-style-position: outside;
        line-height: 1.5;
        display: initial;
        justify-content: none;
        list-style-type: initial;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .sideInfo {
        text-align: left;
        z-index: 0;
        width: 10%;
        font-size: 0.8rem;
        font-weight: normal;

        display: none;
        position: absolute;
        left: $blockFour;
        line-height: 1.5;
        display: initial;
        justify-content: none;
        list-style-type: none;
        margin-bottom: 0;

    text-transform: uppercase;

        li {
            line-height: 1.5;
            list-style-type: none;
            padding: 0;
        }
        a {
            color: inherit;
        }
    }

    .sideInfo.fixed {
        display: block;
        position: fixed;
        margin: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    button {
        background-color: transparent;
        border: none;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        color: $backgroundColor;
    }

    button:hover {
        background-color: $backgroundColor;
        color: $bodyColor;
        transition-duration: 0.3s;
    }

    li {
        margin-left: $blockThree;
    }
    img {
        width: 100%;
        padding: 0;
    }
    img + em {
        display: table;
        margin: 0 auto;
        text-align: center;
        opacity: 0.8;
        text-transform: uppercase;
        font-size: 0.7rem;
        line-height: 1.5rem;
    }
}

.studyImage {
    width: 100%;

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 728px) {
    .studyIntro {
        margin-top: $blockFour;
    }

    .postTitle {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 $blockTwo 0 $blockTwo;
        bottom: $blockThree;
    }

    .postDate {
        text-align: left;
        margin-top: $blockThree;
        position: relative;
        right: 0;
        bottom: 0;
    }

    .contentBody {
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
        width: initial;
        padding:  $blockTwo ;
        h2:not(:first-child) {
            margin-top: $blockThree;
        }
    }

    .sideInfo {
        display: none;
        opacity: 0;
        z-index: -5;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .postTitle {
        margin: 0 $blockThree 0 $blockThree;
        bottom: $blockThree;
    }

    .contentBody {
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
        width: initial;
        padding: $blockThree;

        h2 {
            position: relative;
            right: 0;
            left: 0;
            text-align: left;
            padding-right: 0;
            width: 100%;
            margin-bottom: -$blockTwo;
        }
        h2:not(:first-child) {
            margin-top: $blockThree;
        }

        h3 {
            margin-bottom: -$blockTwo;
            margin-top: $blockThree;
        }
        h2,
        h4,
        p {
            margin-top: $blockThree;
        }
        h2:nth-child(1) {
            padding-top: 0;
        }
        img {
            margin-top: 0;
        }
    }
    .sideInfo {
        display: none;
        opacity: 0;
        z-index: -5;
    }
}

@media screen and (min-width: 2400px) {
    .contentBody {
        // margin: auto;
        margin-top: $blockFive;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 70%;
        padding: 0;

        h2:not(:first-child) {
            // margin-top: 48px !important;
            margin-top: $blockFour;
        }

        h3 {
            // margin-bottom: -$blockThree;
            margin-top: $blockThree;
        }
        ul:not(:first-child) {
            list-style-position: outside;
            line-height: 1.5;
            display: initial;
            justify-content: none;
            list-style-type: initial;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
        .sideInfo {
            text-align: left;
            z-index: 0;
            width: $blockSix;
            font-size: 0.8rem;
            font-weight: normal;
            text-transform: uppercase;
            display: none;
            position: absolute;
            left: $blockFour;
            line-height: 1.5;
            display: initial;
            justify-content: none;
            list-style-type: none;

            margin-bottom: 0;
            padding: 0;

            li {
                line-height: 1.5;
                list-style-type: none;
                padding: 0;
            }
            a {
                color: inherit;
            }
        }
    }
}

/** Define colors */
/** Syntax highlighting styles */
.highlight .hll {
    background-color: #112b47;
}

/* Line highlight */
.highlight .lineno {
    color: #608079;
}

/* Line numbers */
.highlight .c {
    color: #4d4d4d;
}

/* Comment */
.highlight .err {
    color: #9d2512;
}

/* Error */
.highlight .g {
    color: #bdbdb3;
}

/* Generic */
.highlight .k {
    color: #5180b3;
}

/* Keyword */
.highlight .l {
    color: #ab75c3;
}

/* Literal */
.highlight .n {
    color: #ab75c3;
}

/* Name */
.highlight .o {
    color: #bdbdb3;
}

/* Operator */
.highlight .x {
    color: #ab75c3;
}

/* Other */
.highlight .p {
    color: #bdbdb3;
}

/* Punctuation */
.highlight .cm {
    color: #757575;
}

/* Comment.Multiline */
.highlight .cp {
    color: #baba36;
}

/* Comment.Preproc */
.highlight .c1 {
    color: #757575;
}

/* Comment.Single */
.highlight .cs {
    color: #baba36;
}

/* Comment.Special */
.highlight .gd {
    color: #6aaf50;
}

/* Generic.Deleted */
.highlight .ge {
    color: #bdbdb3;
    font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
    color: #d65946;
}

/* Generic.Error */
.highlight .gh {
    color: #ab75c3;
}

/* Generic.Heading */
.highlight .gi {
    color: #baba36;
}

/* Generic.Inserted */
.highlight .go {
    color: #bdbdb3;
}

/* Generic.Output */
.highlight .gp {
    color: #bdbdb3;
}

/* Generic.Prompt */
.highlight .gs {
    color: #bdbdb3;
}

/* Generic.Strong */
.highlight .gu {
    color: #ab75c3;
}

/* Generic.Subheading */
.highlight .gt {
    color: #bdbdb3;
}

/* Generic.Traceback */
.highlight .kc {
    color: #ab75c3;
}

/* Keyword.Constant */
.highlight .kd {
    color: #5180b3;
}

/* Keyword.Declaration */
.highlight .kn {
    color: #baba36;
}

/* Keyword.Namespace */
.highlight .kp {
    color: #baba36;
}

/* Keyword.Pseudo */
.highlight .kr {
    color: #5180b3;
}

/* Keyword.Reserved */
.highlight .kt {
    color: #d65946;
}

/* Keyword.Type */
.highlight .ld {
    color: #bdbdb3;
}

/* Literal.Date */
.highlight .m {
    color: #df9522;
}

/* Literal.Number */
.highlight .s {
    color: #6aaf50;
}

/* Literal.String */
.highlight .na {
    color: #baba36;
}

/* Name.Attribute */
.highlight .nb {
    color: #5180b3;
}

/* Name.Builtin */
.highlight .nc {
    color: #1d9a79;
}

/* Name.Class */
.highlight .nd {
    color: #5180b3;
}

/* Name.Decorator */
.highlight .ne {
    color: #ab75c3;
}

/* Name.Exception */
.highlight .nf {
    color: #1d9a79;
}

/* Name.Function */
.highlight .ni {
    color: #df9522;
}

/* Name.Entity */
.highlight .nl {
    color: #baba36;
}

/* Name.Label */
.highlight .nn {
    color: #bdbdb3;
}

/* Name.Namespace */
.highlight .no {
    color: #ab75c3;
}

/* Name.Constant */
.highlight .nt {
    color: #5180b3;
}

/* Name.Tag */
.highlight .nv {
    color: #5180b3;
}

/* Name.Variable */
.highlight .ow {
    color: #baba36;
}

/* Operator.Word */
.highlight .nx {
    color: #bdbdb3;
}

/* Name.Other */
.highlight .w {
    color: #bdbdb3;
}

/* Text.Whitespace */
.highlight .mf {
    color: #df9522;
}

/* Literal.Number.Float */
.highlight .mh {
    color: #df9522;
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #df9522;
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #df9522;
}

/* Literal.Number.Oct */
.highlight .py {
    color: #baba36;
}

/* Name.Property */
.highlight .sb {
    color: #ab75c3;
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #6aaf50;
}

/* Literal.String.Char */
.highlight .sd {
    color: #bdbdb3;
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #6aaf50;
}

/* Literal.String.Double */
.highlight .se {
    color: #ab75c3;
}

/* Literal.String.Escape */
.highlight .sh {
    color: #bdbdb3;
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #6aaf50;
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #6aaf50;
}

/* Literal.String.Other */
.highlight .sr {
    color: #d65946;
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #6aaf50;
}

/* Literal.String.Single */
.highlight .ss {
    color: #6aaf50;
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #5180b3;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
    color: #5180b3;
}

/* Name.Variable.Class */
.highlight .vg {
    color: #5180b3;
}

/* Name.Variable.Global */
.highlight .vi {
    color: #5180b3;
}

/* Name.Variable.Instance */
.highlight .vm {
    color: #5180b3;
}

/* Name.Variable.Magic */
.highlight .il {
    color: #6aaf50;
}

/* Literal.Number.Integer.Long */
/** Code formatting */
/* Applies to all code */
pre,
code {
    font-family: "Hack", monospace;
    font-style: normal;
    font-feature-settings: "kern" off;
    font-kerning: none;
    font-variant: none;
    background-color: #eef;
}

pre ::selection,
code ::selection {
    color: #1a1a1a;
    background: #bdbdb3;
}

pre ::-moz-selection,
code ::-moz-selection {
    color: #1a1a1a;
    background: #bdbdb3;
}

pre ::-webkit-selection,
code ::-webkit-selection {
    color: #1a1a1a;
    background: #bdbdb3;
}

/* Inline code, no highlight */
code {
    padding: 2px 4px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 0.9rem;

}

blockquote code {
    color: #5c5c5c;
}

/* Inline code, highlight */
code.highlight {
    border-radius: 3px;
    color: #bdbdb3;
    background-color: #1a1a1a;
}

/* Block code, no highlight */
pre {
    border-radius: 5px;
    margin: 22.5px 15px;
    padding: 4px 6px;
    overflow-x: auto;
    background-color: #f1f1ff;
}

pre code {
    border: 0;
    padding: 0;
    white-space: pre;
}

/* Block code, highlight */
figure.highlight,
div.highlight {
    position: relative;
}

figure.highlight pre,
div.highlight pre {
    background-color: #1a1a1a;
}

figure.highlight pre code,
div.highlight pre code {
    background-color: #1a1a1a;
    color: #bdbdb3;
    counter-reset: code;
    display: block;
    line-height: 1.5; /* Display language name */
}

figure.highlight pre code[data-lang]::before,
div.highlight pre code[data-lang]::before {
    content: attr(data-lang);
    position: absolute;
    right: 34px;
    top: -10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border: 1px solid #828282;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 40px;
    text-align: center;
    color: #8fbc8f;
    background-color: #1a1a1a;
}

@media screen and (max-width: 300px) {
    figure.highlight pre code[data-lang]::before,
    div.highlight pre code[data-lang]::before {
        visibility: hidden;
    }
}

pre {
margin: auto;

}

figure.highlight {
    margin: 0;
    padding: 0;
}