// * {
//     border-style: solid;
//     border-width: 1px;
// }

.studyIntro {
    margin-top: $blockSix;
}

.postTitle {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0 $blockFour 0 $blockFour;
    bottom: $blockFour;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: $blockThree;


    h4 {
        padding-top: $blockTwo;
        bottom: 0;
    }
}

.postDate {
    text-align: right;
    position: absolute;
    bottom: $blockThree;

    right: 0;
}

.contentBody {
    margin-left: auto;
    margin-right: 0;
    text-align: justify;
    width: 50%;
    padding: $blockFour;

    h2 {
        position: absolute;
        right: auto;
        left: $blockFour;
        text-align: left;
        padding-right: $blockFour;
        width: 30%;
        margin-top: $blockFour;

    }
    h2:not(:first-child) {
        margin-top: 48px !important;
    }

    h3,
    h4,
    p {
        margin-top: $blockFour;
    }

    ul {
        list-style-position: outside;

        line-height: 1.5;

        display: initial;
        justify-content: none;
        list-style-type: initial;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    li {
        margin-left: $blockThree;
  
    }
}

.studyImage {
    width: 100%;

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 728px) {
    .studyIntro {
        margin-top: $blockFour;
    }

    .postTitle {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 $blockTwo 0 $blockTwo;
        bottom: $blockThree;
    }

    .postDate {
        text-align: left;
        margin-top: $blockThree;
        position: relative;
        right: 0;
        bottom: 0;
    }

    .contentBody {
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
        width: initial;
        padding: $blockTwo;

        h2 {
            position: relative;
            right: 0;
            left: 0;
            text-align: left;
            padding-right: 0;
            width: 100%;
            padding-top: $blockTwo;
        }
        h2,
        h3,
        h4,
        p {
            margin-top: $blockTwo;
        }

    }


}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .postTitle {
        margin: 0 $blockThree 0 $blockThree;
        bottom: $blockThree;
    }

    .contentBody {
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
        width: initial;
        padding: $blockThree;

        h2 {
            position: relative;
            right: 0;
            left: 0;
            text-align: left;
            padding-right: 0;
            width: 100%;

            padding-top: $blockThree;
        }
        h2,
        h3,
        h4,
        p {
            margin-top: $blockThree;
        }
        h2:nth-child(1) {
            padding-top: 0;
        }
    }
}
