// * {
//     border-style: solid;
//     border-width: 1px;
// }

// PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️PRE⚙️

a:visited,
a:link {
  text-decoration: none;
}

.section-divider {
  padding: $blockFour $blockFour 0 $blockFour;
  background-color: $blackOpacity10;

}

.square {
  img {
    width: 100%;
    object-fit: cover;
  }
}

// STUDIES📁STUDIES📁STUDIES📁STUDIES📁STUDIES📁STUDIES📁STUDIES📁STUDIES📁STUDIES📁STUDIES📁

.StudiesContainer {
  padding: $blockFour;
  // background-color: $blackOpacity10;

  h4 {
    margin-bottom: $blockTwo;
  }

  h3 {
    padding-top: $blockTwo;
  }
}

a:visited,
a:link {
  text-decoration: none;
}

.StudiesModule {
  // filter: saturate(20%);
  display: grid;
  grid-template-columns: 30% 50% 20%;
  border-top: solid 1px $blackOpacity30 ;
  padding-top: $blockThree;
  padding-bottom: $blockFour;
  color: $bodyColor;

  :nth-child(3) {
    margin-left: auto;
    margin-right: 0;
  }

  h1 {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    font-size: .8rem;
  }

  li:nth-child(n + 2):before {
    content: $symbol;
  }

  img {
    border-radius: .25rem;
    height: 15vw;
    opacity: .8;
  }
}



svg {
  width: 30px;

  .st0 {
    fill: none;
    stroke: $bodyColor;
    stroke-width: 10rem;
    stroke-miterlimit: 100;
  }
}

.StudiesModule:hover {
  // filter: grayscale(0%);

  h1 {
    text-decoration: underline;
  }

  svg {
    transform: rotate(45deg);
    transition-duration: 0.1s;
  }

  img {
    transform: scale(0.95);
    transition-duration: 0.5s;
  }
}





.StudiesInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: $blockFour;
  justify-content: space-between;
  column-gap: 320px;

  h4 {
    :nth-child(1) {
      font-weight: bold;
    }

    div {
      margin: 0;
      padding: 0;
      line-height: 1.2rem;
    }

    margin-bottom: 0;
  }
}


.studiesMenu {
  margin-top: $blockFive;

  h2 {
    margin-top: $blockThree;
  }

  a {
    cursor: pointer;
  }

  h4 {
    margin-top: $blockOne;
  }

  a {
    color: $dropdowntext;
  }
}

.studiesMenu a:hover {
  text-decoration: underline;
}

.studiesMenu::-webkit-scrollbar {
  display: none;
}

.studiesMenu {
  -ms-overflow-style: none;
}

// CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡CAROUSEL🎡

.CarouselContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  padding: $blockTwo $blockFour $blockFour $blockFour;
  background-color: $blackOpacity10;

  h4 {
    margin-bottom: $blockTwo;
  }

  h3 {
    padding-top: $blockTwo;
  }
}

// .CarouselModule {
// }

.CarouselComponent {
  filter: saturate(0%);
  display: grid;
  grid-template-columns: 1fr;
  border-top: solid 1px $blackOpacity30 ;
  padding-top: $blockThree;
  color: $bodyColor;

  :nth-child(3) {
    margin-left: auto;
    margin-right: 0;
  }

  h1 {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    font-size: .8rem;
  }

  li:nth-child(n + 2):before {
    content: $symbol;
  }

  img {
    opacity: .8;
    height: 15vw;
    border-radius: .25rem;
  }
}

.CarouselComponent:hover {
  filter: grayscale(0%);

  h1 {
    text-decoration: underline;
  }

  svg {
    transform: rotate(45deg);
    transition-duration: 0.1s;
  }

  img {
    transform: scale(0.95);
    transition-duration: 0.5s;
  }
}

.CarouselInfo {
  position: relative;
  margin-top: $blockThree;

  h4 {
    margin-top: $blockOne;

    :nth-child(1) {
      font-weight: bold;
    }

    div {
      margin: 0;
      padding: 0;
      line-height: 1.2rem;
    }
  }
}



@media only screen and (max-width: 728px) {
  .StudiesContainer {
    padding: $blockFour $blockTwo;

    h4 {
      margin-bottom: $blockThree;
    }

    h2 {
      margin-bottom: $blockTwo;
    }
  }

  .CarouselContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: $blockTwo $blockTwo $blockFour $blockTwo;
    background-color: $blackOpacity10;

    h4 {
      margin-bottom: none;
    }

    h3 {
      padding-top: none;
    }
  }

  .section-divider {
    padding: 0 $blockTwo;
    background-color: $blackOpacity10;
  }

  .CarouselModule {
    display: grid;
    grid-template-columns: 1fr;
  }

  .CarouselComponent {
    display: grid;
    grid-template-columns: 1fr;

    img {
      height: 55vw;
    }
  }

  .CarouselInfo {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: $blockThree;
    position: relative;
    margin-left: 0;

    h4 {
      position: relative;
      padding: $blockOne 0 $blockOne 0;
    }
  }

  .StudiesModule {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: $blockTwo;

    svg {
      margin-bottom: -$blockThree;
      display: none;
    }

    img {
      height: 55vw;
    }
  }

  .StudiesInfo {
    height: auto;
    margin-top: $blockThree;
    position: relative;
    margin-left: 0;

    h4 {
      position: relative;
      padding: $blockTwo 0 $blockTwo 0;
    }
  }

  .studiesMenu {
    margin-top: $blockFour;

    h2 {
      margin-bottom: $blockTwo;
    }
  }

  ul.nav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .StudiesContainer {
    padding: $blockFour $blockThree;

    h2 {
      margin-bottom: $blockThree;
    }
  }

  .CarouselContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    padding: $blockThree $blockThree $blockFour $blockThree;
    background-color: $blackOpacity10;

    h4 {
      margin-bottom: none;
    }

    h3 {
      padding-top: none;
    }
  }

  .section-divider {
    padding: 0 $blockThree;
    background-color: $blackOpacity10;
  }

  .CarouselModule {
    display: grid;
    grid-template-columns: 1fr;
  }

  .CarouselComponent {
    display: grid;
    grid-template-columns: 1fr;

    img {
      height: 24vw;
    }
  }

  .CarouselInfo {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: $blockThree;
    position: relative;
    margin-left: 0;

    h4 {
      position: relative;
      padding: $blockOne 0 $blockOne 0;
    }
  }

  .StudiesModule,
  .drpdwn-StudiesModule {
    display: grid;
    grid-template-columns: 1fr;

    svg {
      margin-bottom: -$blockThree;
    }

    img {
      height: 55vw;
    }
  }

  .StudiesInfo {
    margin-top: $blockTwo;
    position: relative;
    margin-left: 0;

    h4 {
      position: relative;
      padding: $blockThree 0 $blockThree 0;
    }
  }



  .studiesMenu {
    margin-top: $blockFour;
  }
}

@media screen and (min-width: 2400px) {
  .studiesMenu {
    padding-top: $blockFive;
    // max-width: 1600px;
    margin: auto;
  }

  .StudiesModule,
  .drpdwn-StudiesModule {
    img {
      height: 11vw;
    }
  }

  .CarouselComponent {
    display: grid;
    grid-template-columns: 1fr;

    img {
      height: 12vw;
    }
  }
}