// * {
//     border-style: solid;
//     border-width: 1px;
// }

.studyIntro {
    margin-top: $blockSix;
}

.postTitle {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0 $blockFour 0 $blockFour;
    bottom: $blockFour;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: $blockThree;

    h4 {
        padding-top: $blockTwo;
        bottom: 0;
    }
}

.postDate {
    text-align: right;
    position: absolute;
    bottom: $blockThree;

    right: 0;
}

.contentBody {
    margin-left: auto;
    margin-right: $blockFour;
    text-align: justify;
    width: 55%;
    padding: 0 $blockFour $blockFour $blockFour;
    a {
        color: rgb(224, 146, 0);
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    h2:not(:first-child) {
        margin-top: $blockFour;
    }
    h3 {
        margin-top: $blockThree;
    }
    ul:not(:first-child) {
        list-style-position: outside;
        line-height: 1.5;
        display: initial;
        justify-content: none;
        list-style-type: initial;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .sideInfo {
        text-align: left;
        z-index: 0;
        width: $blockSix;
        font-size: 0.8rem;
        font-weight: normal;
        text-transform: uppercase;
        display: none;
        position: absolute;
        left: $blockFour;
        line-height: 1.5;
        display: initial;
        justify-content: none;
        list-style-type: none;
        margin-bottom: 0;

        li {
            line-height: 1.5;
            list-style-type: none;
            padding: 0;
        }
        a {
            color: inherit;
        }
    }

    .sideInfo.fixed {
        display: block;
        position: fixed;
        margin: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    button {
        background-color: transparent;
        border: none;
        border-radius: 25px;
        border-style: solid;
        border-width: 1px;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        color: $backgroundColor;
    }

    button:hover {
        background-color: $backgroundColor;
        color: $bodyColor;
        transition-duration: 0.3s;
    }

    li {
        margin-left: $blockThree;
    }
    img {
        width: 100%;
        padding: 0;
    }
    img + em {
        display: table;
        margin: 0 auto;
        text-align: center;
        opacity: 0.8;
        text-transform: uppercase;
        font-size: 0.7rem;
        line-height: 1.5rem;
    }
}

.studyImage {
    width: 100%;

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 728px) {
    .studyIntro {
        margin-top: $blockFour;
    }

    .postTitle {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 $blockTwo 0 $blockTwo;
        bottom: $blockThree;
    }

    .postDate {
        text-align: left;
        margin-top: $blockThree;
        position: relative;
        right: 0;
        bottom: 0;
    }

    .contentBody {
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
        width: initial;
        padding: $blockTwo;
        h2:not(:first-child) {
            margin-top: $blockThree;
        }
    }

    .sideInfo {
        display: none;
        opacity: 0;
        z-index: -5;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .postTitle {
        margin: 0 $blockThree 0 $blockThree;
        bottom: $blockThree;
    }

    .contentBody {
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
        width: initial;
        padding: $blockThree;

        h2 {
            position: relative;
            right: 0;
            left: 0;
            text-align: left;
            padding-right: 0;
            width: 100%;
            margin-bottom: -$blockTwo;
        }
        h2:not(:first-child) {
            margin-top: $blockThree;
        }

        h3 {
            margin-bottom: -$blockTwo;
            margin-top: $blockThree;
        }
        h2,
        h4,
        p {
            margin-top: $blockThree;
        }
        h2:nth-child(1) {
            padding-top: 0;
        }
        img {
            margin-top: 0;
        }
    }
    .sideInfo {
        display: none;
        opacity: 0;
        z-index: -5;
    }
}

@media screen and (min-width: 2400px) {
    .contentBody {
        // margin: auto;
        margin-top: $blockFive;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 70%;
        padding: 0;

        h2:not(:first-child) {
            // margin-top: 48px !important;
            margin-top: $blockFour;
        }

        h3 {
            // margin-bottom: -$blockThree;
            margin-top: $blockThree;
        }
        ul:not(:first-child) {
            list-style-position: outside;
            line-height: 1.5;
            display: initial;
            justify-content: none;
            list-style-type: initial;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
        .sideInfo {
            text-align: left;
            z-index: 0;
            width: $blockSix;
            font-size: 0.8rem;
            font-weight: normal;
            text-transform: uppercase;
            display: none;
            position: absolute;
            left: $blockFour;
            line-height: 1.5;
            display: initial;
            justify-content: none;
            list-style-type: none;

            margin-bottom: 0;
            padding: 0;

            li {
                line-height: 1.5;
                list-style-type: none;
                padding: 0;
            }
            a {
                color: inherit;
            }
        }
    }
}
