<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>

    {% include headerTwo.html %}




    <div class="cssanimation sequence fadeInBottom">
        <div class="aboutContainer">
            <div>Hello</div>
            <div>
            <h1>Hello</h1>
            <p>Hello! I am a writer/designer that currently lives in La Jolla, CA. Much of my development as an artist
                has come from weaving together good principles and practices of literature and visual art. During my
                experiences, I have had the opportunity to design for festivals, magazines, and companies. Much of my
                work strives to be human-centered and locally-focused, designed to bring out the best of what surrounds
                it.
                <br>  <br>
                I am currently the Co-Director of Design at Other People, working with a team of amazing people to
                create UC San Diego's first literary magazine.
                <br>  <br>
                In my free time I like to write, hike, go to farmer’s markets, or go out with my friends. I am also a
                dog person and a tea lover. 🐶🍵</p>
        </div>
  
    </div>




    {% include footer.html %}
</body>

</head>