<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    </head>

    <body>

        {% include headerTwo.html %}



 
        <div class="galleryContainer">
            <div class="cssanimation sequence fadeInBottom">
      <h1> Some graphic illustrations I've done in the past 🖌🖍</h1>
    </div>
      <div class="space"></div>
        <section id="photos">

            {% for image in page.gallery %}

                <img src="{{ image | relative_url }}">

            {% endfor %}

        </section>

    </div>


        <!-- MISC -->
        {% include footer.html %}
        {% include analytics.html %}


        





    </body>

</head>