<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

  {% include header.html %}

  <!-- INDEX INTRO -->
  <div class="IndexContainer">
    <div class="IndexIntro">
      <h1 class="cssanimation sequence fadeInBottom">
        <label id="lblGreetings"></label><br>
        I am a visual designer,<br>
        currently creating at <a href="https://www.kiva.org/" target="_blank">Kiva.org
<?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
            <style type="text/css"></style>
            <polyline class="st0" points="116.7,116.7 1083.3,116.7 1083.3,1083.3 " />
            <line class="st0" x1="1083.3" y1="116.7" x2="116.7" y2="1083.3" />
          </svg>
        </a>



      </h1>
      <div class="first" type="button" onclick="smoothScroll(document.getElementById('second'))">
        <div class="ExploreStudies">
          <h4 class="cssanimation sequence fadeInBottom">Explore Studies ▼</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- DO WE NEED CONTENT HERE? -->
  {{ content}}

  <!-- MODULES -->
  {% include studies.html %}
  {% include designchallenges.html %}

  <!-- MISC -->
  {% include footer.html %}
  {% include javaScroll.html %}
  {% include analytics.html %}

</body>

</html>








<script>
  var myDate = new Date();
  var hrs = myDate.getHours();

  var greet;

  if (hrs < 12)
      greet = 'Good morning ✷';
  else if (hrs >= 12 && hrs <= 17)
      greet = 'Good afternoon ❊';
  else if (hrs >= 17 && hrs <= 24)
      greet = 'Good evening ☾';



  document.getElementById('lblGreetings').innerHTML =
      '' + greet + '';
</script> 